<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Results of Static analysis on Directory PE files</title>
</head>

<style type="text/css">

    th:tr{
        color: blue;

    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);

    }

    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>

<body>
{%for i in range(0, num)%}

File Name: <b>{{nam[i]}}</b> <br>
Date Stamp: {{dat[i]}} <br>
No. of Sections: {{sec[i]}} <br>
The imports are:
<ol>
{%for imports in imp[i]%}
    <li>{{imports}}</li>
{%endfor%}
</ol>
Please click <a href="{{ url_for('imports') }}">here</a> for detailed imports. <br>
The sections are :

<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
        <tr style="color: green; ">
        <td>Section Name</td>
        <td>Virtual Address</td>
        <td>Virtual Size</td>
        <td>Actual Size</td>
</tr>
    </th>

<!-- For loop logic of jinja template -->
{%for sections in sect[i]%}
<!-- table rows -->
<tr>
    <td>{{sections[0]}}</td>
    <td>{{sections[1]}}</td>
    <td>{{sections[2]}}</td>
    <td>{{sections[3]}}</td>
{%endfor%}
</tr>
</table>
The virtual and raw size of the file can be used to decide if the file is packed or not. Except the .data section, if the program
raises other size flags, the file may be packed.
<br>
Some conclusions about the file from the python program. The messages are presented as python lists.
<ul>
    {%for messages in msg[i]%}
    <li>{{messages}}</li>
    {%endfor%}
</ul>
<br>
{%endfor%}
</body>
</html>